---
import Link from '@/components/Link.astro';
import Page from '@/layouts/Page.astro';
import { tools } from './_data';
const description =
	'Implementation of simple tools that I find myself looking up every time I need them.';
---

<Page title="Tools" description={description}>
	<p>{description}</p>
	<ul>
		{
			tools.map((tool) => (
				<li>
					<Link href={`/tools/${tool.slug}`}>{tool.name}</Link> – {tool.description}
				</li>
			))
		}
	</ul>
</Page>
