---
import Link from '@/components/Link.astro';
import Page from '@/layouts/Page.astro';
import { tools } from './_data';
const description =
	'Implementation of simple tools that I find myself looking up every time I need them.';
---

<Page title="Tools" description={description}>
	<p>{description}</p>
	<dl class="space-y-2">
		{
			tools.map((tool) => (
				<div>
					<dt class="inline">
						<Link href={`/tools/${tool.slug}`}>{tool.name}</Link>
					</dt>

					<dd class="inline p-0">– {tool.description}</dd>
				</div>
			))
		}
	</dl>
</Page>
