---
import FormattedDate from '@/components/FormattedDate.astro';
import InformationCircle from '@/components/icons/InformationCircle.astro';
import Link from '@/components/Link.astro';
import Page from '@/layouts/Page.astro';
import { writings } from './_data';

const description = "List of everything I've read, watched, listened to, or otherwise consumed.";
---

<Page title="Library" description={description} archived>
	<p>
		{description}
	</p>

	<div role="alert" class="alert alert-vertical sm:alert-horizontal">
		<InformationCircle />
		<div>
			<h3 class="mt-0 mb-0">Archival Notice</h3>
			<div class="text-sm">
				This page has stopped getting updates. It was hard for me to keep track of links and update
				here. Previous content is preserved below. Archived on <FormattedDate
					date={new Date('2024-10-26')}
				/>.
			</div>
		</div>
	</div>

	<section>
		<h2>Writings</h2>

		<ul>
			{
				writings.map((link) => (
					<li>
						<Link href={link.url}>{link.title}</Link>
						<span class="text-sm">
							{link.archiveUrl && (
								<>
									— <Link href={link.archiveUrl}>Archive</Link>
								</>
							)}
							{link.hnUrl && (
								<>
									— <Link href={link.hnUrl}>HN discussion</Link>
								</>
							)}
						</span>
						<div>
							<FormattedDate date={new Date(link.date)} />
						</div>
					</li>
				))
			}
		</ul>
	</section>
</Page>
