---
import noAiWidget0 from '@/assets/images/baccyflap-com-noai-valywidget0.gif';
import noAiWidget1 from '@/assets/images/baccyflap-com-noai-valywidget1.gif';
import noAiWidget2 from '@/assets/images/baccyflap-com-noai-valywidget2.gif';
import noAiWidget3 from '@/assets/images/baccyflap-com-noai-valywidget3.gif';
import gliderSvg from '@/assets/images/glider.svg';
import { COPYRIGHT } from '@/consts';
import { Image } from 'astro:assets';
import Link from './Link.astro';
---

<footer class="my-4 text-center">
	<hr class="mb-4" />
	<div>
		<a href="https://baccyflap.com/noai/?prv&s=csh" target="_top"
			><Image
				src={noAiWidget0}
				alt="previous no ai webring site"
				title="previous no ai webring site"
			/></a
		><a href="https://baccyflap.com/noai" target="_blank"
			><Image src={noAiWidget1} alt="no ai webring" title="no ai webring" /></a
		><a href="https://baccyflap.com/noai/?rnd" target="_top"
			><Image
				src={noAiWidget2}
				alt="random no ai webring site"
				title="random no ai webring site"
			/></a
		><a href="https://baccyflap.com/noai/?nxt&s=csh" target="_top"
			><Image src={noAiWidget3} alt="next no ai webring site" title="next no ai webring site" /></a
		>
	</div>
	<span class="flex items-center justify-center gap-1">
		<span>
			{COPYRIGHT.symbol}{' '}{COPYRIGHT.year}
			{COPYRIGHT.holder}
		</span>
		<Link href={'http://www.catb.org/hacker-emblem/'} class={'flex items-center justify-center'}>
			<Image src={gliderSvg} alt="Glider" class="inline h-4 w-4 border-0" />
		</Link>
	</span>
	<span>
		{COPYRIGHT.string}
	</span>
</footer>

<script>
	// oneko.js: https://github.com/adryd325/oneko.js

	interface OnekoConstructorProps {
		nekoFile: string;
	}

	interface CatState {
		enter?: (cat: Oneko) => void;
		update: (cat: Oneko, distance: number) => void;
		exit?: (cat: Oneko) => void;
	}

	class Oneko {
		nekoPosX = 32;
		nekoPosY = 32;
		mousePosX = 0;
		mousePosY = 0;
		nekoSpeed = 10;

		currentState: CatState | null = null;
		stateTimer = 0;
		frameCount = 0;

		idleAnimation: keyof typeof this.spriteSets | null = null;
		idleAnimationFrame = 0;

		nekoEl = document.createElement('div');
		lastFrameTimestamp: number | undefined;
		nekoFile: string;

		spriteSets = {
			idle: [[-3, -3]],
			alert: [[-7, -3]],
			scratchSelf: [
				[-5, 0],
				[-6, 0],
				[-7, 0],
			],
			scratchWallN: [
				[0, 0],
				[0, -1],
			],
			scratchWallS: [
				[-7, -1],
				[-6, -2],
			],
			scratchWallE: [
				[-2, -2],
				[-2, -3],
			],
			scratchWallW: [
				[-4, 0],
				[-4, -1],
			],
			tired: [[-3, -2]],
			sleeping: [
				[-2, 0],
				[-2, -1],
			],
			N: [
				[-1, -2],
				[-1, -3],
			],
			NE: [
				[0, -2],
				[0, -3],
			],
			E: [
				[-3, 0],
				[-3, -1],
			],
			SE: [
				[-5, -1],
				[-5, -2],
			],
			S: [
				[-6, -3],
				[-7, -2],
			],
			SW: [
				[-5, -3],
				[-6, -1],
			],
			W: [
				[-4, -2],
				[-4, -3],
			],
			NW: [
				[-1, 0],
				[-1, -1],
			],
		};

		private states = {
			SLEEPING: {
				enter: (cat) => {
					cat.nekoEl.style.cursor = 'pointer';
					cat.nekoEl.style.pointerEvents = 'auto';
					cat.idleAnimationFrame = 0;
				},
				update: (cat) => {
					cat.setSprite('sleeping', Math.floor(cat.idleAnimationFrame / 4));
					cat.idleAnimationFrame++;
				},
				exit: (cat) => {
					cat.nekoEl.style.cursor = 'default';
					cat.nekoEl.style.pointerEvents = 'none';
				},
			},

			WAKING_UP: {
				enter: (cat) => {
					cat.setSprite('tired', 0);
					cat.stateTimer = 8;
				},
				update: (cat) => {
					cat.stateTimer--;
					if (cat.stateTimer <= 0) {
						cat.transitionTo('ALERT');
					}
				},
			},

			ALERT: {
				enter: (cat) => {
					cat.setSprite('alert', 0);
					cat.stateTimer = 7;
				},
				update: (cat, distance) => {
					cat.stateTimer--;
					if (cat.stateTimer <= 0) {
						if (distance < cat.nekoSpeed || distance < 48) {
							cat.transitionTo('IDLE');
						} else {
							cat.transitionTo('MOVING');
						}
					}
				},
			},

			IDLE: {
				enter: (cat) => {
					cat.stateTimer = 0;
					cat.idleAnimation = null;
					cat.idleAnimationFrame = 0;
				},
				update: (cat, distance) => {
					if (distance > 48) {
						cat.transitionTo('ALERT');
						return;
					}

					cat.stateTimer++;

					if (
						cat.stateTimer > 10 &&
						Math.floor(Math.random() * 50) === 0 &&
						cat.idleAnimation === null
					) {
						let availableAnimations: (keyof typeof cat.spriteSets)[] = ['sleeping', 'scratchSelf'];
						if (cat.nekoPosX < 32) availableAnimations.push('scratchWallW');
						if (cat.nekoPosY < 32) availableAnimations.push('scratchWallN');
						if (cat.nekoPosX > window.innerWidth - 32) availableAnimations.push('scratchWallE');
						if (cat.nekoPosY > window.innerHeight - 32) availableAnimations.push('scratchWallS');

						cat.idleAnimation =
							availableAnimations[Math.floor(Math.random() * availableAnimations.length)];
					}

					if (cat.idleAnimation) {
						switch (cat.idleAnimation) {
							case 'sleeping':
								cat.setSprite('sleeping', Math.floor(cat.idleAnimationFrame / 4));
								if (cat.idleAnimationFrame > 192) {
									cat.idleAnimation = null;
									cat.idleAnimationFrame = 0;
								}
								break;
							default:
								cat.setSprite(cat.idleAnimation, cat.idleAnimationFrame);
								if (cat.idleAnimationFrame > 9) {
									cat.idleAnimation = null;
									cat.idleAnimationFrame = 0;
								}
								break;
						}
						cat.idleAnimationFrame++;
					} else {
						cat.setSprite('idle', 0);
					}
				},
			},

			MOVING: {
				update: (cat, distance) => {
					if (distance < cat.nekoSpeed || distance < 48) {
						cat.transitionTo('IDLE');
						return;
					}

					cat.frameCount++;
					const diffX = cat.nekoPosX - cat.mousePosX;
					const diffY = cat.nekoPosY - cat.mousePosY;

					let direction = diffY / distance > 0.5 ? 'N' : '';
					direction += diffY / distance < -0.5 ? 'S' : '';
					direction += diffX / distance > 0.5 ? 'W' : '';
					direction += diffX / distance < -0.5 ? 'E' : '';

					if (direction in cat.spriteSets) {
						cat.setSprite(direction as keyof typeof cat.spriteSets, cat.frameCount);
					}

					cat.nekoPosX -= (diffX / distance) * cat.nekoSpeed;
					cat.nekoPosY -= (diffY / distance) * cat.nekoSpeed;

					cat.nekoPosX = Math.min(Math.max(16, cat.nekoPosX), window.innerWidth - 16);
					cat.nekoPosY = Math.min(Math.max(16, cat.nekoPosY), window.innerHeight - 16);

					cat.nekoEl.style.left = `${cat.nekoPosX - 16}px`;
					cat.nekoEl.style.top = `${cat.nekoPosY - 16}px`;
				},
			},
		} satisfies Record<string, CatState>;

		constructor({ nekoFile }: OnekoConstructorProps) {
			this.nekoFile = nekoFile;
			this.transitionTo('SLEEPING');
		}

		transitionTo(stateName: keyof typeof this.states) {
			if (this.currentState?.exit) {
				this.currentState.exit(this);
			}

			this.currentState = this.states[stateName];

			if (this.currentState.enter) {
				this.currentState.enter(this);
			}
		}

		private setSprite(name: keyof typeof this.spriteSets, frame: number) {
			const sprite = this.spriteSets[name][frame % this.spriteSets[name].length];
			this.nekoEl.style.backgroundPosition = `${sprite[0] * 32}px ${sprite[1] * 32}px`;
		}

		private onAnimationFrame = (timestamp: number) => {
			if (!this.nekoEl.isConnected) return;

			if (!this.lastFrameTimestamp) this.lastFrameTimestamp = timestamp;

			if (timestamp - this.lastFrameTimestamp > 100) {
				this.lastFrameTimestamp = timestamp;

				const diffX = this.nekoPosX - this.mousePosX;
				const diffY = this.nekoPosY - this.mousePosY;
				const distance = Math.sqrt(diffX ** 2 + diffY ** 2);

				if (this.currentState) {
					this.currentState.update(this, distance);
				}
			}
			window.requestAnimationFrame(this.onAnimationFrame);
		};

		init() {
			if (window.matchMedia(`(prefers-reduced-motion: reduce)`).matches) return;

			this.nekoEl.id = 'oneko';
			this.nekoEl.ariaHidden = 'true';
			this.nekoEl.style.width = '32px';
			this.nekoEl.style.height = '32px';
			this.nekoEl.style.position = 'fixed';
			this.nekoEl.style.imageRendering = 'pixelated';
			this.nekoEl.style.left = `${this.nekoPosX - 16}px`;
			this.nekoEl.style.top = `${this.nekoPosY - 16}px`;
			this.nekoEl.style.zIndex = '2147483647';
			this.nekoEl.style.backgroundImage = `url(${this.nekoFile})`;

			this.nekoEl.addEventListener('click', () => {
				if (this.currentState === this.states['SLEEPING']) {
					this.transitionTo('WAKING_UP');
				}
			});

			document.body.appendChild(this.nekoEl);

			document.addEventListener('mousemove', (event) => {
				this.mousePosX = event.clientX;
				this.mousePosY = event.clientY;
			});

			window.requestAnimationFrame(this.onAnimationFrame);
		}
	}

	const oneko = new Oneko({ nekoFile: '/images/oneko.gif' });
	oneko.init();
</script>
