---
import _100DaysToOffload from '@/assets/images/100-days-to-offload.webp';
import _88x31 from '@/assets/images/88x31.gif';
import agplv3 from '@/assets/images/agplv3-88x31.gif';
import anyBrowser3 from '@/assets/images/anybrowser3.gif';
import astro from '@/assets/images/astro.svg';
import noAiWidget0 from '@/assets/images/baccyflap-com-noai-valywidget0.gif';
import noAiWidget1 from '@/assets/images/baccyflap-com-noai-valywidget1.gif';
import noAiWidget2 from '@/assets/images/baccyflap-com-noai-valywidget2.gif';
import noAiWidget3 from '@/assets/images/baccyflap-com-noai-valywidget3.gif';
import bringBackTheHeadphoneJack from '@/assets/images/bring-back-the-headphone-jack.gif';
import buttonNow from '@/assets/images/button_now.gif';
import catMeooow from '@/assets/images/cat-meooow.gif';
import ccByNcSa from '@/assets/images/cc-by-nc-sa-4.0.png';
import clickHereRed from '@/assets/images/clickhere_red.gif';
import ffmpeg from '@/assets/images/ffmpeg.png';
import gliderSvg from '@/assets/images/glider.svg';
import gnuLinux from '@/assets/images/gnu-linux.gif';
import haveASmile from '@/assets/images/have-a-smile.gif';
import iLikeComputer from '@/assets/images/i_like_computer.png';
import implementRssNow from '@/assets/images/implement_rss_now.png';
import iso8601 from '@/assets/images/iso8601.png';
import linuxMint from '@/assets/images/linux-mint.gif';
import neovim from '@/assets/images/neovim.gif';
import poke from '@/assets/images/poke.gif';
import rightToRepair01 from '@/assets/images/right_to_repair_01.jpg';
import rss from '@/assets/images/rss.gif';
import testedOnFirefox from '@/assets/images/tested-on-firefox.webp';
import tr1xem from '@/assets/images/tr1xem.gif';
import ublockOrigin from '@/assets/images/ublock-origin.webp';
import writtenByAHuman from '@/assets/images/written-by-a-human.gif';
import ભારતીય from '@/assets/images/ભારતીય.svg';
import { BLOG_RSS_FEED, COPYRIGHT } from '@/consts';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import IncrementButtonBadge from './IncrementButtonBadge.astro';
import Link from './Link.astro';

interface CommonBadgeProps {
	foundAt: string;
}

interface ImageBadge extends CommonBadgeProps {
	id?: string;
	src: ImageMetadata | string;
	alt: string;
	href?: string;
}

interface ComponentBadge extends CommonBadgeProps {
	component: AstroComponent;
}

type AstroComponent = (_props: Record<string, any>) => any;

type Badge = ({ type: 'image' } & ImageBadge) | ({ type: 'component' } & ComponentBadge);

const badges: Badge[] = [
	{
		type: 'image',
		src: '/images/shubh.png',
		alt: 'Shubh',
		// 1. Background: https://cyber.dabamos.de/88x31/notebook.gif
		// 2. Remove heart with ImageMagick: magick ~/tmp/notebook.gif -coalesce -fill "#fffad7" -draw "rectangle 76,16 85,25" -layers optimize notebook-no-heart.gif
		// 3. Use https://websetsbylynn.neocities.org/88x31-button-maker/ to add text
		foundAt: 'Edited by myself',
		href: '/',
	},
	{ type: 'image', src: ભારતીય, alt: 'ભારતીય', foundAt: 'Made by myself' },
	{
		type: 'image',
		src: writtenByAHuman,
		alt: 'Written by a human',
		foundAt: 'https://chrisburnell.com/note/88x31-early-2024/',
	},
	{
		type: 'image',
		src: iLikeComputer,
		alt: 'I Like Computer',
		foundAt: 'https://capstasher.neocities.org/88x31collection-page1',
	},

	{
		type: 'image',
		src: gnuLinux,
		alt: 'GNU/Linux',
		foundAt: 'https://capstasher.neocities.org/88x31collection-page1',
	},
	{
		type: 'image',
		src: linuxMint,
		alt: 'Linux Mint',
		foundAt: 'https://www.gnome-look.org/p/1106732',
		href: 'https://linuxmint.com/',
	},
	{
		type: 'image',
		src: neovim,
		alt: 'Neovim',
		foundAt: 'https://cyber.dabamos.de/88x31/',
		href: 'https://neovim.io/',
	},
	{
		type: 'image',
		src: astro,
		alt: 'Astro',
		// I took the 'Gradient logo on dark' brand asset, astro-gray-700.png, and resized it to 88x31 in Inkscape
		foundAt: 'https://astro.build/press/',
		href: 'https://astro.build/',
	},
	{
		type: 'image',
		src: ffmpeg,
		alt: 'FFmpeg',
		foundAt: 'https://trix.is-a.dev/',
		href: 'https://www.ffmpeg.org/',
	},

	{
		type: 'image',
		src: anyBrowser3,
		alt: 'Best viewed with any browser, any OS',
		foundAt: 'https://cyber.dabamos.de/88x31/',
	},
	{
		type: 'image',
		src: testedOnFirefox,
		alt: 'Tested on Firefox',
		foundAt: 'https://joelchrono.xyz',
		href: 'https://www.firefox.com/',
	},
	{
		type: 'image',
		src: iso8601,
		alt: 'ISO 8601',
		foundAt: 'https://capstasher.neocities.org/88x31collection-page1',
	},
	{
		type: 'image',
		src: implementRssNow,
		alt: 'Implement RSS Now!',
		foundAt: 'https://twi.nekoweb.org/88x31/',
	},
	{
		type: 'image',
		src: rss,
		alt: 'RSS Feed',
		foundAt: 'https://joelchrono.xyz',
		href: BLOG_RSS_FEED,
	},
	{
		type: 'image',
		src: _100DaysToOffload,
		alt: '100 Days to Offload',
		foundAt: 'https://joelchrono.xyz',
		href: 'https://100daystooffload.com/',
	},
	{
		type: 'image',
		src: ublockOrigin,
		alt: 'uBlock Origin',
		foundAt: 'https://trix.is-a.dev/',
		href: 'https://github.com/gorhill/ublock',
	},
	{
		type: 'image',
		src: rightToRepair01,
		alt: 'I Support Right to Repair',
		foundAt: 'https://twi.nekoweb.org/88x31/',
	},
	{
		type: 'image',
		src: bringBackTheHeadphoneJack,
		alt: 'Bring Back The Headphone Jack',
		foundAt: 'https://trix.is-a.dev/',
	},
	{
		type: 'image',
		src: agplv3,
		alt: 'AGPLv3',
		foundAt: 'https://capstasher.neocities.org/88x31collection-page1',
		href: 'https://www.gnu.org/licenses/agpl-3.0.en.html',
	},
	{
		type: 'image',
		src: ccByNcSa,
		alt: 'Creative Commons Attribution-NonCommercial-ShareAlike 4.0',
		foundAt: 'https://creativecommons.org/mission/downloads/',
		href: 'https://creativecommons.org/licenses/by-nc-sa/4.0/',
	},

	{ type: 'image', src: _88x31, alt: '88x31', foundAt: 'https://cyber.dabamos.de/88x31/' },
	{
		type: 'image',
		src: haveASmile,
		alt: 'Have a smile',
		foundAt: 'https://capstasher.neocities.org/88x31collection-page1',
	},
	{ type: 'image', src: buttonNow, alt: 'Button Now!', foundAt: 'https://cyber.dabamos.de/88x31/' },
	{
		type: 'image',
		src: catMeooow,
		alt: 'Cat Meooow',
		// there was Devils written on the bottom right corner, which I removed using ImageMagick:
		// $ magick ./button-devils.gif -coalesce -fill "#FFFFFF" -draw "rectangle 3,17 40,28" -layers optimize cat-meooow.gif
		foundAt: 'https://cyber.dabamos.de/88x31/',
	},

	{ type: 'component', component: IncrementButtonBadge, foundAt: 'https://trix.is-a.dev/' },
	{
		type: 'image',
		src: clickHereRed,
		alt: 'Click Here!',
		id: 'footer-click-here-badge',
		foundAt: 'https://cyber.dabamos.de/88x31/',
	},
	{
		type: 'image',
		src: poke,
		id: 'footer-poke-badge',
		alt: 'Poke',
		foundAt: 'https://cyber.dabamos.de/88x31/',
	},

	{
		type: 'image',
		src: tr1xem,
		alt: 'tr1x_em',
		foundAt: 'https://trix.is-a.dev/',
		href: 'https://trix.is-a.dev/',
	},
];
---

<footer >
	<hr  />
	<div >
		<div >
			{
				badges.map((badge) => {
					if (badge.type === 'image') {
						const badgeImage =
							typeof badge.src === 'string' ? (
								<Image src={badge.src} alt={badge.alt} id={badge.id} width={88} height={31} />
							) : (
								<Image src={badge.src} alt={badge.alt} id={badge.id} />
							);

						return badge.href ? <Link href={badge.href}>{badgeImage}</Link> : badgeImage;
					}
					if (badge.type === 'component') {
						const Component = badge.component;
						return <Component />;
					}
				})
			}
		</div>
		<div>
			<a href="https://baccyflap.com/noai/?prv&s=csh" target="_top"
				><Image
					src={noAiWidget0}
					alt="previous no ai webring site"
					title="previous no ai webring site"
				/></a
			><a href="https://baccyflap.com/noai" target="_blank"
				><Image src={noAiWidget1} alt="no ai webring" title="no ai webring" /></a
			><a href="https://baccyflap.com/noai/?rnd" target="_top"
				><Image
					src={noAiWidget2}
					alt="random no ai webring site"
					title="random no ai webring site"
				/></a
			><a href="https://baccyflap.com/noai/?nxt&s=csh" target="_top"
				><Image
					src={noAiWidget3}
					alt="next no ai webring site"
					title="next no ai webring site"
				/></a
			>
		</div>
	</div>
	<span >
		<span>
			{COPYRIGHT.symbol}{' '}{COPYRIGHT.year}
			{COPYRIGHT.holder}
		</span>
		<Link href={'http://www.catb.org/hacker-emblem/'} >
			<Image src={gliderSvg} alt="Glider"  />
		</Link>
	</span>
	<span>
		{COPYRIGHT.string}
	</span>
</footer>

<script>
	import confetti from 'canvas-confetti';

	const count = 200;
	const defaults = {
		origin: { y: 0.7 },
	};

	function fire(particleRatio: number, opts: any) {
		confetti({
			...defaults,
			...opts,
			particleCount: Math.floor(count * particleRatio),
		});
	}

	const footerClickHereBadge = document.getElementById('footer-click-here-badge');

	footerClickHereBadge?.addEventListener('click', () => {
		fire(0.25, {
			spread: 26,
			startVelocity: 55,
		});
		fire(0.2, {
			spread: 60,
		});
		fire(0.35, {
			spread: 100,
			decay: 0.91,
			scalar: 0.8,
		});
		fire(0.1, {
			spread: 120,
			startVelocity: 25,
			decay: 0.92,
			scalar: 1.2,
		});
		fire(0.1, {
			spread: 120,
			startVelocity: 45,
		});
	});

	const footerPokeBadge = document.getElementById('footer-poke-badge');
	const pokeContainer = document.body;

	footerPokeBadge?.addEventListener('click', () => {
		pokeContainer.classList.remove('animate-poke-right');
		// reflow page: https://stackoverflow.com/questions/60686489/what-purpose-does-void-element-offsetwidth-serve
		void pokeContainer.offsetWidth;
		pokeContainer.classList.add('animate-poke-right');

		setTimeout(() => {
			pokeContainer.classList.remove('animate-poke-right');
			// 400ms (same as animation duration)
		}, 400);
	});
</script>
