---
import noAiWidget0 from '@/assets/images/baccyflap-com-noai-valywidget0.gif';
import noAiWidget1 from '@/assets/images/baccyflap-com-noai-valywidget1.gif';
import noAiWidget2 from '@/assets/images/baccyflap-com-noai-valywidget2.gif';
import noAiWidget3 from '@/assets/images/baccyflap-com-noai-valywidget3.gif';
import gliderSvg from '@/assets/images/glider.svg';
import { COPYRIGHT } from '@/consts';
import { Image } from 'astro:assets';
import Link from './Link.astro';
---

<footer class="my-4 text-center">
	<hr class="mb-4" />
	<div>
		<a href="https://baccyflap.com/noai/?prv&s=csh" target="_top"
			><Image
				src={noAiWidget0}
				alt="previous no ai webring site"
				title="previous no ai webring site"
			/></a
		><a href="https://baccyflap.com/noai" target="_blank"
			><Image src={noAiWidget1} alt="no ai webring" title="no ai webring" /></a
		><a href="https://baccyflap.com/noai/?rnd" target="_top"
			><Image
				src={noAiWidget2}
				alt="random no ai webring site"
				title="random no ai webring site"
			/></a
		><a href="https://baccyflap.com/noai/?nxt&s=csh" target="_top"
			><Image src={noAiWidget3} alt="next no ai webring site" title="next no ai webring site" /></a
		>
	</div>
	<span class="flex items-center justify-center gap-1">
		<span>
			{COPYRIGHT.symbol}{' '}{COPYRIGHT.year}
			{COPYRIGHT.holder}
		</span>
		<Link href={'http://www.catb.org/hacker-emblem/'} class={'flex items-center justify-center'}>
			<Image src={gliderSvg} alt="Glider" class="inline h-4 w-4 border-0" />
		</Link>
	</span>
	<span>
		{COPYRIGHT.string}
	</span>
</footer>

<script>
	// oneko.js: https://github.com/adryd325/oneko.js

	interface OnekoConstructorProps {
		nekoFile: string;
	}

	class Oneko {
		idleTime = 0;
		idleAnimation: keyof typeof this.spriteSets | null = 'sleeping';
		idleAnimationFrame = 0;
		nekoPosX = 32;
		nekoPosY = 32;
		mousePosX = 0;
		mousePosY = 0;
		spriteSets = {
			idle: [[-3, -3]],
			alert: [[-7, -3]],
			scratchSelf: [
				[-5, 0],
				[-6, 0],
				[-7, 0],
			],
			scratchWallN: [
				[0, 0],
				[0, -1],
			],
			scratchWallS: [
				[-7, -1],
				[-6, -2],
			],
			scratchWallE: [
				[-2, -2],
				[-2, -3],
			],
			scratchWallW: [
				[-4, 0],
				[-4, -1],
			],
			tired: [[-3, -2]],
			sleeping: [
				[-2, 0],
				[-2, -1],
			],
			N: [
				[-1, -2],
				[-1, -3],
			],
			NE: [
				[0, -2],
				[0, -3],
			],
			E: [
				[-3, 0],
				[-3, -1],
			],
			SE: [
				[-5, -1],
				[-5, -2],
			],
			S: [
				[-6, -3],
				[-7, -2],
			],
			SW: [
				[-5, -3],
				[-6, -1],
			],
			W: [
				[-4, -2],
				[-4, -3],
			],
			NW: [
				[-1, 0],
				[-1, -1],
			],
		};
		nekoEl = document.createElement('div');
		frameCount = 0;
		nekoSpeed = 10;
		lastFrameTimestamp: number | undefined;
		nekoFile: string;
		sleeping = true;
		justAwake = false;

		constructor({ nekoFile }: OnekoConstructorProps) {
			this.nekoFile = nekoFile;
		}

		private idle() {
			this.idleTime += 1;

			// every ~ 20 seconds
			if (
				this.idleTime > 10 &&
				Math.floor(Math.random() * 200) == 0 &&
				this.idleAnimation == null
			) {
				let availableIdleAnimations: (keyof typeof this.spriteSets)[] = ['sleeping', 'scratchSelf'];
				if (this.nekoPosX < 32) {
					availableIdleAnimations.push('scratchWallW');
				}
				if (this.nekoPosY < 32) {
					availableIdleAnimations.push('scratchWallN');
				}
				if (this.nekoPosX > window.innerWidth - 32) {
					availableIdleAnimations.push('scratchWallE');
				}
				if (this.nekoPosY > window.innerHeight - 32) {
					availableIdleAnimations.push('scratchWallS');
				}
				this.idleAnimation =
					availableIdleAnimations[Math.floor(Math.random() * availableIdleAnimations.length)];
			}

			switch (this.idleAnimation) {
				case 'sleeping':
					if (this.idleAnimationFrame < 8 && !this.sleeping) {
						this.setSprite('tired', 0);
						break;
					}
					this.setSprite('sleeping', Math.floor(this.idleAnimationFrame / 4));
					if (this.idleAnimationFrame > 192 && !this.sleeping) {
						this.resetIdleAnimation();
					}
					break;
				case 'scratchWallN':
				case 'scratchWallS':
				case 'scratchWallE':
				case 'scratchWallW':
				case 'scratchSelf':
					this.setSprite(this.idleAnimation, this.idleAnimationFrame);
					if (this.idleAnimationFrame > 9) {
						this.resetIdleAnimation();
					}
					break;
				default:
					this.setSprite('idle', 0);
					return;
			}
			this.idleAnimationFrame += 1;
		}

		private onAnimationFrame = (timestamp: number) => {
			// Stops execution if the neko element is removed from DOM
			if (!this.nekoEl.isConnected) {
				return;
			}

			if (!this.lastFrameTimestamp) {
				this.lastFrameTimestamp = timestamp;
			}
			if (timestamp - this.lastFrameTimestamp > 100) {
				this.lastFrameTimestamp = timestamp;
				this.frame();
			}
			window.requestAnimationFrame(this.onAnimationFrame);
		};

		private setSprite(name: keyof typeof this.spriteSets, frame: number) {
			const sprite = this.spriteSets[name][frame % this.spriteSets[name].length];
			this.nekoEl.style.backgroundPosition = `${sprite[0] * 32}px ${sprite[1] * 32}px`;
		}

		private resetIdleAnimation() {
			this.idleAnimation = null;
			this.idleAnimationFrame = 0;
		}

		private frame() {
			this.frameCount += 1;
			const diffX = this.nekoPosX - this.mousePosX;
			const diffY = this.nekoPosY - this.mousePosY;
			const distance = Math.sqrt(diffX ** 2 + diffY ** 2);

			if (!this.justAwake && (distance < this.nekoSpeed || distance < 48 || this.sleeping)) {
				this.idle();
				return;
			}

			this.idleAnimation = null;
			this.idleAnimationFrame = 0;

			if (this.idleTime > 1) {
				this.setSprite('alert', 0);
				// count down after being alerted before moving
				this.idleTime = Math.min(this.idleTime, 7);
				this.idleTime -= 1;
				return;
			}

			this.justAwake = false;

			let direction = diffY / distance > 0.5 ? 'N' : '';
			direction += diffY / distance < -0.5 ? 'S' : '';
			direction += diffX / distance > 0.5 ? 'W' : '';
			direction += diffX / distance < -0.5 ? 'E' : '';
			if (direction in this.spriteSets) {
				this.setSprite(direction as keyof typeof this.spriteSets, this.frameCount);
			}

			this.nekoPosX -= (diffX / distance) * this.nekoSpeed;
			this.nekoPosY -= (diffY / distance) * this.nekoSpeed;

			this.nekoPosX = Math.min(Math.max(16, this.nekoPosX), window.innerWidth - 16);
			this.nekoPosY = Math.min(Math.max(16, this.nekoPosY), window.innerHeight - 16);

			this.nekoEl.style.left = `${this.nekoPosX - 16}px`;
			this.nekoEl.style.top = `${this.nekoPosY - 16}px`;
		}

		init() {
			const isReducedMotion =
				window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true;

			if (isReducedMotion) return;

			this.nekoEl.id = 'oneko';
			this.nekoEl.ariaHidden = 'true';
			this.nekoEl.style.width = '32px';
			this.nekoEl.style.height = '32px';
			this.nekoEl.style.position = 'fixed';
			this.nekoEl.style.imageRendering = 'pixelated';
			this.nekoEl.style.left = `${this.nekoPosX - 16}px`;
			this.nekoEl.style.top = `${this.nekoPosY - 16}px`;
			this.nekoEl.style.zIndex = '2147483647';
			this.nekoEl.style.backgroundImage = `url(${this.nekoFile})`;

			if (this.sleeping) {
				this.nekoEl.style.cursor = 'pointer';
			} else {
				this.nekoEl.style.pointerEvents = 'none';
			}

			this.nekoEl.addEventListener('click', () => {
				this.sleeping = false;
				this.justAwake = true;
				this.idleAnimation = null;
				this.nekoEl.style.left = `${this.nekoPosX - 16}px`;
				this.nekoEl.style.top = `${this.nekoPosY - 16}px`;
				this.nekoEl.style.pointerEvents = 'none';
				this.nekoEl.style.cursor = 'pointer';
			});

			document.body.appendChild(this.nekoEl);

			document.addEventListener('mousemove', (event) => {
				this.mousePosX = event.clientX;
				this.mousePosY = event.clientY;
			});

			window.requestAnimationFrame(this.onAnimationFrame);
		}
	}

	const oneko = new Oneko({ nekoFile: '/images/oneko.gif' });
	oneko.init();
</script>
