---
import rssIcon from '@/assets/images/Feed-icon.svg';
import logo from '@/assets/images/logo.svg';
import Link from '@/components/Link.astro';
import { BLOG_RSS_FEED, SITE_TITLE } from '@/consts';
import { clsx } from '@/utils';
import { Image } from 'astro:assets';

interface Props {
	title?: string;
}

const props = Astro.props;

const links = [
	{ href: '/projects', text: 'Projects' },
	{ href: '/tools', text: 'Tools' },
	{ href: '/blog', text: 'Blog' },
	{ href: '/quotes', text: 'Quotes' },
	{ href: '/contact', text: 'Contact' },
];
---

<header>
	<nav>
		<Link href="/">
			<Image src={logo} alt="Site Logo" width={36} />
			{SITE_TITLE}
		</Link>
		<div>
			{links.map((link) => <Link href={link.href}>{link.text}</Link>)}
			<Link href={BLOG_RSS_FEED}>
				<Image src={rssIcon} alt="RSS Feed" width={20} />
			</Link>
		</div>
	</nav>
	<hr />
</header>
