---
import rssIcon from '@/assets/images/Feed-icon.svg';
import logo from '@/assets/images/logo.svg';
import Link from '@/components/Link.astro';
import { BLOG_RSS_FEED, SITE_TITLE } from '@/consts';
import { clsx } from '@/utils';
import { Image } from 'astro:assets';

interface Props {
	title?: string;
}

const props = Astro.props;

const links = [
	{ href: '/projects', text: 'Projects' },
	{ href: '/tools', text: 'Tools' },
	{ href: '/blog', text: 'Blog' },
	{ href: '/quotes', text: 'Quotes' },
	{ href: '/contact', text: 'Contact' },
];
---

<header class={clsx('my-4')}>
	<nav class={clsx('flex', 'flex-row', 'flex-wrap', 'mb-4', 'gap-x-8', 'justify-between')}>
		<Link
			href="/"
			class={clsx(
				'no-underline',
				'text-black',
				'text-xl',
				'font-bold',
				'flex',
				'items-center',
				'gap-2',
				'text-nowrap'
			)}
		>
			<Image src={logo} alt="Site Logo" width={36} />
			{SITE_TITLE}
		</Link>
		<div class={clsx('flex', 'space-x-4', 'flex-wrap', 'items-center')}>
			{
				links.map((link) => (
					<Link
						href={link.href}
						class={clsx(props.title === link.text ? 'underline' : 'no-underline', 'font-medium')}
					>
						{link.text}
					</Link>
				))
			}
			<Link href={BLOG_RSS_FEED} class={clsx('no-underline', 'font-medium', 'flex')}>
				<Image src={rssIcon} alt="RSS Feed" width={20} />
			</Link>
		</div>
	</nav>
	<hr />
</header>
