---
import rssIcon from '@/assets/images/Feed-icon.svg';
import logo from '@/assets/images/logo.svg';
import { BLOG_RSS_FEED, SITE_TITLE } from '@/consts';
import { Image } from 'astro:assets';
import Link from './Link.astro';

interface Props {
	title?: string;
}

const links = [
	{ href: '/blog', text: 'Blog' },
	{ href: '/tools', text: 'Tools' },
	{ href: '/quotes', text: 'Quotes' },
	{ href: '/projects', text: 'Projects' },
	{ href: '/contact', text: 'Contact' },
];
---

<nav class="max-md:collapse bg-base-200 shadow-sm w-full rounded-md">
	<input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
	<label for="navbar-1-toggle" class="fixed inset-0 hidden max-md:peer-checked:block"></label>
	<div class="collapse-title navbar justify-between">
		<div class="navbar-start">
			<Link href="/" class="btn btn-ghost text-lg sm:text-xl">
				<Image src={logo} alt="Site Logo" width={36} />
				{SITE_TITLE}
			</Link>
		</div>
		<div class="navbar-center hidden md:flex">
			<ul class="menu menu-horizontal px-1">
				{
					links.map((link) => (
						<li>
							<Link href={link.href}>{link.text}</Link>
						</li>
					))
				}
				<li>
					<Link href={BLOG_RSS_FEED} title={'RSS Feed'}>
						<Image src={rssIcon} alt="RSS Feed" width={20} />
					</Link>
				</li>
			</ul>
		</div>
		<div class="navbar-end md:hidden">
			<label for="navbar-1-toggle" class="btn btn-ghost md:hidden">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="size-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
				</svg>
			</label>
		</div>
	</div>

	<div class="collapse-content md:hidden z-1">
		<ul class="menu">
			{
				links.map((link) => (
					<li>
						<Link href={link.href}>{link.text}</Link>
					</li>
				))
			}
			<li>
				<Link href={BLOG_RSS_FEED} title={'RSS Feed'}>
					<Image src={rssIcon} alt="RSS Feed" width={20} />
				</Link>
			</li>
		</ul>
	</div>
</nav>
