---
import Link from '@/components/Link.astro';
import Page from '@/layouts/Page.astro';
import { marked } from 'marked';
import { projects } from './_data';
---

<Page title="Projects">
	{
		projects.map((project, index) => (
			<article>
				<h2>{project.title}</h2>
				<Fragment set:html={marked.parse(project.description)} />
				<ul>
					<li>
						<strong>Built with:</strong> {project.builtWith.join(', ')}
					</li>
					{project.liveUrl && (
						<li>
							<strong>Live URL:</strong>
							<Link href={project.liveUrl}>{project.liveUrl}</Link>
						</li>
					)}
					{project.srcUrl && (
						<li>
							<strong>Source URL:</strong>
							<Link href={project.srcUrl}>{project.srcUrl}</Link>
						</li>
					)}
				</ul>
			</article>
		))
	}
</Page>
