---
import Link from '@/components/Link.astro';
import { FIRST_NAME } from '@/consts';
import Page from '@/layouts/Page.astro';
import { clsx } from '@/utils';
import { Image } from 'astro:assets';
import songs from './_data.json';
---

<Page title={`${FIRST_NAME} Listens To Music`}>
	<p>
		<strong>{songs.length}</strong>
		{songs.length === 1 ? 'song' : 'songs'}
	</p>

	<ul class="grid min-[30rem]:grid-cols-2 sm:grid-cols-3 gap-4 md:gap-6 not-prose">
		{
			songs
				.sort((a, b) => a.title.localeCompare(b.title) || a.artist.localeCompare(b.artist))
				.map((song) => (
					<li>
						<Link class="card card-sm shadow-sm h-full" href={song.url}>
							{song.image ? (
								<figure>
									<Image
										src={song.image}
										alt={`Thumbnail for ${song.title} - ${song.artist}`}
										width={320}
										height={180}
										loading={'lazy'}
										class={clsx('w-full', song.explicit_image === 'TRUE' ? 'blur-sm' : '')}
									/>
								</figure>
							) : null}
							<div class="card-body justify-between">
								<span class="card-title">{song.title}</span>
								<p class="grow-0">{song.artist}</p>
							</div>
						</Link>
					</li>
				))
		}
	</ul>
</Page>
