---
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Navbar from '@/components/Navbar.astro';
import {
	BLOG_ATOM_FEED,
	BLOG_RSS_FEED,
	FULL_NAME,
	LANGUAGE,
	SITE_DESCRIPTION,
	SITE_TITLE,
} from '@/consts';
import '@/styles/global.css';
import { pageTitle } from '@/utils';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

interface HomePage {
	layout: 'home';
}

interface BlogPage {
	layout: 'blog';
	title: string;
	description?: string;
	date: Date;
}

interface StandalonePage {
	layout?: 'page';
	title: string;
	description?: string;
	archived?: boolean;
	is404?: boolean;
}

type Props = HomePage | BlogPage | StandalonePage;

function getResolvedProps(rawProps: Props) {
	if (rawProps.layout === 'home') {
		return {
			layout: 'home' as const,
			metaTitle: SITE_TITLE,
			description: SITE_DESCRIPTION,
		};
	} else if (rawProps.layout === 'blog') {
		return {
			layout: 'blog' as const,
			metaTitle: pageTitle(rawProps.title),
			description: rawProps.description,

			h1: rawProps.title,
			date: rawProps.date,
		};
	} else {
		return {
			layout: 'page' as const,
			metaTitle: pageTitle(rawProps.title),
			description: rawProps.description,

			h1: rawProps.title,
			archived: rawProps.archived,
			is404: rawProps.is404,
		};
	}
}

const rawProps: Props = Astro.props;
const props = getResolvedProps(rawProps);
---

<!doctype html>
<html lang={LANGUAGE}>
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			href={BLOG_RSS_FEED}
			title=`${FULL_NAME}'s Blog RSS Feed`
		/>
		<link
			rel="alternate"
			type="application/atom+xml"
			href={BLOG_ATOM_FEED}
			title=`${FULL_NAME}'s Blog Atom Feed`
		/>

		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content={SITE_TITLE} />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="me" href="https://mastodon.social/@cshubh" />

		{
			props.layout === 'page' && (props.archived || props.is404) && (
				<meta name="robots" content="noindex" />
			)
		}

		<!-- Canonical URL -->
		{!props.is404 && <link rel="canonical" href={canonicalURL} />}

		<!-- Primary Meta Tags -->
		<title>{props.metaTitle}</title>
		<meta name="title" content={props.metaTitle} />
		{props.description && <meta name="description" content={props.description} />}

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={props.metaTitle} />
		<meta property="og:image" content="/images/social-card.png" />
		<meta property="og:locale" content={LANGUAGE} />
		{props.description && <meta property="og:description" content={props.description} />}

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={props.metaTitle} />
		<meta property="twitter:image" content="/images/social-card.png" />
		{props.description && <meta property="twitter:description" content={props.description} />}

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-J52XN60HFW" is:inline></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'G-J52XN60HFW');
		</script>
	</head>
	<body class="flex flex-col min-h-screen m-0 font-sans max-w-2xl px-4 mx-auto leading-relaxed">
		<Navbar title={props.h1} />
		<main class="flex-grow">
			{
				props.layout === 'blog' ? (
					<article>
						<div>
							<h1 class="my-0">{props.h1}</h1>
							<div>
								<span class="font-medium">
									<FormattedDate date={props.date} />
								</span>
							</div>
						</div>
						<div>
							<slot />
						</div>
					</article>
				) : (
					<>
						{props.layout === 'page' && <h1 class="mt-0">{props.h1}</h1>}
						<slot />
					</>
				)
			}
		</main>
		<Footer />
	</body>
</html>
