---
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Navbar from '@/components/Navbar.astro';
import { SITE_TITLE } from '@/consts';
import '@/styles/global.css';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

interface HomePage {
	layout: 'home';
}

interface BlogPage {
	layout: 'blog';
	title: string;
	date: Date;
}

interface Page {
	layout?: 'page';
	title: string;
}

type Props = HomePage | BlogPage | Page;

const props: Props = Astro.props;
props.layout = props.layout ?? 'page';

const title = props.layout === 'home' ? SITE_TITLE : `${props.title} | ${SITE_TITLE}`;
const description = undefined;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title={SITE_TITLE}
			href={new URL('rss.xml', Astro.site)}
		/>
		<meta name="generator" content={Astro.generator} />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		{description && <meta name="description" content={description} />}

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		{description && <meta property="og:description" content={description} />}

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		{description && <meta property="twitter:description" content={description} />}
	</head>
	<body>
		<div class="flex flex-col min-h-screen m-0 font-sans max-w-2xl px-4 mx-auto leading-relaxed">
			<Navbar />
			<main class="flex-grow">
				{
					props.layout === 'blog' ? (
						<article>
							<div>
								<h1 class="my-0">{props.title}</h1>
								{props.date && (
									<div>
										<span class="font-medium">
											<FormattedDate date={props.date} />
										</span>
									</div>
								)}
							</div>
							<div>
								<slot />
							</div>
						</article>
					) : (
						<>
							{props.layout === 'page' && <h1 class="mt-0">{props.title}</h1>}
							<slot />
						</>
					)
				}
			</main>
			<Footer />
		</div>
	</body>
</html>
