---
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Navbar from '@/components/Navbar.astro';
import { LANGUAGE, SITE_TITLE } from '@/consts';
import '@/styles/global.css';
import { pageTitle } from '@/utils';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

interface HomePage {
	layout: 'home';
}

interface BlogPage {
	layout: 'blog';
	title: string;
	date: Date;
}

interface StandalonePage {
	layout?: 'page';
	title: string;
}

type Props = (HomePage | BlogPage | StandalonePage) & {
	archived?: boolean;
	description?: string;
};

const props: Props = Astro.props;
props.layout = props.layout ?? 'page';

const title = props.layout === 'home' ? SITE_TITLE : pageTitle(props.title);
const description = undefined;
---

<!doctype html>
<html lang={LANGUAGE}>
	<head>
		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title={SITE_TITLE}
			href={new URL('rss.xml', Astro.site)}
		/>
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content={SITE_TITLE} />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="me" href="https://mastodon.social/@cshubh" />

		{props.archived && <meta data-rh="true" name="robots" content="noindex, nofollow" />}

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		{description && <meta name="description" content={description} />}

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:image" content="/images/social-card.png" />
		<meta property="og:locale" content={LANGUAGE} />
		{description && <meta property="og:description" content={description} />}

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:image" content="/images/social-card.png" />
		{description && <meta property="twitter:description" content={description} />}

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-J52XN60HFW" is:inline></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'G-J52XN60HFW');
		</script>
	</head>
	<body class="flex flex-col min-h-screen m-0 font-sans max-w-2xl px-4 mx-auto leading-relaxed">
		<Navbar title={props.layout !== 'home' ? props.title : undefined} />
		<main class="flex-grow">
			{
				props.layout === 'blog' ? (
					<article>
						<div>
							<h1 class="my-0">{props.title}</h1>
							{props.date && (
								<div>
									<span class="font-medium">
										<FormattedDate date={props.date} />
									</span>
								</div>
							)}
						</div>
						<div>
							<slot />
						</div>
					</article>
				) : (
					<>
						{props.layout === 'page' && <h1 class="mt-0">{props.title}</h1>}
						<slot />
					</>
				)
			}
		</main>
		<Footer />
	</body>
</html>
